Django==1.5.2
django-taggit==0.10
django-uuslug==1.0.0
djangorestframework==2.3.7
Markdown==2.3.1
django-filter==0.7
django-ckeditor==4.0.2
easy-thumbnails==1.4
six==1.4.1
Pygments==1.6
beautifulsoup4==4.3.2
