{% extends "blog/blog_base.html" %}

{% block content %}
    {% include "blog/blog_header.html" %}
    <div id="main" class="row">
        <div class="large-5 small-12 columns">
            {# blog entry section #}
            <div class="row">
                <div class="large-1 small-1 columns" style="padding-left: 0">
                    <div class="title-box"><br />B<br />L<br />O<br />G</div>
                </div>
                <div class="large-11 small-10 columns" style="padding-right: 5%">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="pending-bg" pendingbar>
                                <div class="alert alert-warning">loading ...</div>
                            </div>
                        </div>
                    </div>
                    <ng-view viewstate></ng-view>
                    {% comment %}
                    <div id="blog-post">
                        <article>
                            <header>
                                <h3>{{ blog_post.title }}</h3>
                                <h6>{{ blog_post.date_published|date:"M d Y" }}</h6>
                            </header>
                            <section>{% addthis blog_post.title %}</section>
                            <section>{{ blog_post.content|pygmentize|safe }}</section>
                        </article>
                        {% include "blog/argonemyth_blog_comments.html" %}
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
        <div class="large-2 small-12 columns">
            {% comment %}
            {% include "blog/argonemyth_blog_navigation.html" %}
            {% endcomment %}
        </div>
        <div class="large-6 columns hide-for-medium-down">{# Just for padding #}</div>
    </div>
    {% include "blog/footer.html" %}
{% endblock %}