<div id="footer" class="row">
    <section id="back-top">
        <article>
        <a href="#top">
            <span></span>
            <em>Back to Top</em>
        </a>
        </article>
    </section>
    <div class="large-6 columns">
        <div class="row">
            <div class="large-3 columns">
                <section id="contact">
                    <article>
                    <ul>
                        <li>Email: <a class="email" href="mailto:fei@argonemyth.com">fei@argonemyth.com</a></li>
                        <li>Skype: argonemyth</li>
                        {# <li>Phone: (+261)32 7650 254 </li> #}
                    </ul>
                    </article>
                </section>
            </div>
            <div class="large-3 columns">
                <section id="social">
                    <article>
                    <ul>
                        <li>Follow me on <a class="twitter" href="https://twitter.com/#!/argonemyth" target="_blank">Twitter</a></li>
                        {# <li>Like me on <a class="fb" href="#" target="_blank">Facebook</a></li> #}
                        {# <li>View my profile on <a class="linked" href="http://www.linkedin.com/in/vivicrow" target="_blank">LinkedIn</a></li>#}
                        <li>Check my code on <a class="github" href="https://github.com/argonemyth" target="_blank">GitHub</a></li>
                    </ul>
                    </article>
                </section>
            </div>
            <div class="large-3 columns">
                <section id="footer-nav">
                    <article>
                    <ul>
                        <li>Back to <a class="site-link" href="/">argonemyth::dev</a></li>
                        <li>Go to <a class="site-link" href="/journey/">argonemyth::journey</a></li>
                    </ul>
                    </article>
                </section>
            </div>
            <div class="large-3 columns">
                <section id="recommend">
                    <article>
                    <ul>
                        <li>Best viewed on <a class="firefox" href="http://www.mozilla.com/en-US/firefox/" target="_blank">Firefox</a></li>
                        <li>Powered by <a class="django" href="https://www.djangoproject.com/" target="_blank">django</a></li>
                    </ul>
                    </article>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
            <section id="legal">
                <article>
                <ul>
                    <li>Copyright &copy; 2009-{% now "Y" %} argonemyth dev.</li>
                </ul>
                </article>
            </section>
            </div>
        </div>
    </div>
    <div class="large-6 columns hide-for-medium">{# just for padding #}</div>
</div>
