/* line 51, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
header, footer, aside, nav, article {
  display: block;
}

/* line 56, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
h1 {
  font-family: "Silver Doller", "League Gothic", Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  color: #fcf8bc;
}

/* line 57, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
h2 {
  font-family: "Linden Hill", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #fcf8bc;
}

/* line 58, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
h3 {
  font-family: "Linden Hill", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #fcf8bc;
  margin-top: 2px;
}

/* line 59, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
h4 {
  width: 100%;
  font-family: "Linden Hill", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #fcf8bc;
  margin: 2px 0;
  padding-left: 5px;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: 0 1px 0px #151412;
  -moz-box-shadow: 0 1px 0px #151412;
  box-shadow: 0 1px 0px #151412;
}

/* line 68, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
h5 {
  font-family: "Linden Hill", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  color: #cacf43;
  padding: 5px;
}

/* line 71, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
body {
  color: #efffcd;
  background-color: black;
  line-height: 1.5;
  font-family: "Lucida Grande", Helvetica, Arial, Georgia, sans-serif;
  color: #efffcd;
  font-size: 68.75%;
}

/* line 80, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
body#login {
  width: 100%;
}
/* line 82, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
body#login #client-login {
  background: url("/static/argonemyth.com/images/semi-transparent80.png") repeat left top transparent;
  border: 1px solid #DDD532;
  border-top: none;
  color: #DDD532;
  margin: 0 auto;
  padding-top: 386px;
  padding-bottom: 10px;
  width: 270px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 96, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
body#portal {
  width: 100%;
}
/* line 98, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
body#portal .widget {
  margin: 10px auto;
  width: 80%;
  border: 1px solid #99173c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 104, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
body#portal #main {
  width: 80%;
  margin: 10px auto;
}

/* line 110, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
div.left {
  display: inline-block;
  width: 15em;
}

/* line 115, ../../../../../compass/argonemyth.com/src/argonemyth_clientportal.scss */
div.right {
  float: right;
}
